{% extends "base_page.html" %}
{% load i18n %}

{% block extra_head %}
  {% tailwind_css %}
{% endblock %}

{% block content %}
  <c-base-header />
  <div>
    <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
      <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
        <div class="mx-auto max-w-5xl">
          <div class="gap-4 sm:flex sm:items-center sm:justify-between">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">{% translate "My orders" %}</h2>

            <div class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0">
              <h4 class="mb-4 mt-4 text-lg inline-block text-gray-500">
                {% translate "Export" %}
              </h4><br>
              {% for field in export_form.visible_fields %}
                  {{ field.label_tag }}
                  {% render_field field hx-get="export/" hx-trigger="change" class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500" %}
              {% endfor %}
            </div>

            <div class="mt-6 gap-4 space-y-4 sm:mt-0 sm:flex sm:items-center sm:justify-end sm:space-y-0">
              <h4 class="mb-4 mt-4 text-lg inline-block text-gray-500">Filters</h4>
              {% for boundfield in order_form %}
                <div>
                  <label for="{{ boundfield.id_for_label }}" class="sr-only mb-2 block text-sm font-medium text-gray-900">{{ boundfield.label }}</label>
                  {% render_field boundfield hx-get="." hx-trigger="change" hx-target="#orderList" hx-swap="innerHTML" class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500" %}
                </div>
                {% if forloop.first %}
                  <span class="inline-block text-gray-500"> from </span>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div id="orderList" class="mt-6 flow-root sm:mt-8">
            {% include "helpers/orders/object_list.html" %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block extra_body %}
  <c-footer />
{% endblock %}