{% extends "base_page.html" %}

{% block content %}
{% tailwind_css %}
<section class="w-full px-6 pb-12 antialiased bg-white">
    <div class="mx-auto max-w-7xl">
        <c-base-header />
        <div class="container max-w-sm py-32 mx-auto mt-px text-left sm:max-w-md md:max-w-lg sm:px-4 md:max-w-none md:text-center">
            <h1 id="ProductText" class="text-3xl font-bold leading-10 tracking-tight text-left text-gray-900 md:text-center sm:text-4xl md:text-7xl lg:text-8xl p-2">Becking`s Products</h1>
            <div class="mx-auto mt-5 text-gray-400 md:mt-8 md:max-w-lg md:text-center md:text-xl">Products for Cleaning, freshening, and disinfecting, and very good for muiltipurpose.</div>
            <div class="flex flex-col items-center justify-center mt-8 space-y-4 text-center sm:flex-row sm:space-y-0 sm:space-x-4">
                <span class="relative inline-flex w-full md:w-auto">
                    <a href="{% url 'product-list' %}" class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-medium leading-6 text-white bg-gray-900 border border-transparent rounded-full xl:px-10 md:w-auto hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800">
                        Products
                    </a>
                </span>
                <span class="relative inline-flex w-full md:w-auto">
                    <a href="{% url 'login' %}" class="inline-flex items-center justify-center w-full px-8 py-4 text-base font-medium leading-6 text-gray-900 bg-gray-100 border border-transparent rounded-full xl:px-10 md:w-auto hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200">Login</a>
                </span>
            </div>
            <div class="container items-center max-w-4xl px-5 mx-auto mt-16 text-center">
                <c-map/>
            </div>
        </div>
    </div>
</section>
<script>
    const ProductContent = document.getElementById("ProductText");
    setInterval(function(){
        ProductContent.classList.toggle("text-indigo-600")
    }, 3000)
</script>
{% endblock %}