{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} Filter{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Filter Export' %}
</div>
{% endblock %}

{% block content %}
    <form method="get" action="{% url 'export_import_product' %}">
    <div>
      {{ form.as_div }}
    
    {% for object in object_list %}
      <input type="hidden" name="id" value="{{ object.pk }}">
    {% endfor %}
    <input type="submit" value="{% translate 'Export' %}">
    </div>
    </form>
{% endblock content %}
