{% extends "base_page.html" %}

{% block title %}{{ user.username}} | Products{% endblock %}

{% block extra_head %}
    {% tailwind_css %}
{% endblock %}

{% block content %}
    <c-base-header />
    <div class="lg:mt-12 lg:p-6">
        <form method="post">
            {% csrf_token %}
            <section class="bg-gray-50">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 lg:mt-12 lg:p-6">
                    <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8">
                        <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                            {{ title|title }}
                        </h2>
                        <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="#">
                            <p class="text-center">{{ form.non_field_errors }} </p>
                            {% for field in form %}
                            <div>
                                <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
                                {{ field|form_class }}
                                {% if field.errors %}
                                <p class="text-red-500 text-bold p-2">{{ field.errors }}</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <c-button />
                        </form>
                    </div>
                </div>
              </section>
        </form>
        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <form method="post" {% if import_form.is_multipart %} enctype="multipart/form-data" {% endif %} action="{% url 'export_import_product' %}">
                {% csrf_token %}
              {{ import_form.as_p }}
              <button type="submit" class="w-full mt-4 text-white bg-indigo-600
              hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-bold rounded-lg text-sm px-5 py-2.5 text-center shadow-2xl">Upload</button>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block extra_body %}
    <c-footer />
{% endblock %}