{% extends "base_page.html" %}

{% block title %}{{ user.username}} | Products{% endblock %}

{% block extra_head %}
    {% tailwind_css %}
{% endblock %}

{% block content %}
    <c-base-header />
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
                {% translate "Add a new product(s)" %}</h2>
            <form action="{% url 'product_create' %}" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                <div id="totalForm" class="grid gap-4 sm:grid-cols-1 sm:gap-6">
                    {% for form in formset %}
                        <div id="forms">{{ form.as_tailwind }}</div>
                    {% endfor %}
                </div>
                <div id="emptyForm" class="hidden">
                    {{ formset.empty_form.as_tailwind }}
                </div>
                <div id="errorMsg" class="hidden relative mt-4 mb-4 w-full shadow-xl rounded-lg border border-transparent bg-red-600 p-4 [&>svg]:absolute [&>svg]:text-foreground [&>svg]:left-4 [&>svg]:top-4 [&>svg+div]:translate-y-[-3px] [&:has(svg)]:pl-11 text-white">
                        <svg class="w-5 h-5 -translate-y-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" /></svg>
                </div>
                <button id="addBtn" type="button" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg focus:ring-4 focus:ring-indigo-200 hover:bg-indigo-800">
                    {% translate "Add More" %}
                </button>
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg focus:ring-4 focus:ring-indigo-200 hover:bg-indigo-800">
                    {% translate "Add product" %}
                </button>
            </form>
        </div>
    </section>
{% endblock %}

{% block extra_body %}
    <script src="{% static 'js/forms/formset.js' %}"></script>
    <c-footer />
{% endblock %}