{% extends "base_page.html" %}
{% load i18n %}

{% block content %}
    {% tailwind_css %}
    <c-base-header />
    <form method="post">
        {% csrf_token %}
        <section class="bg-gray-50">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8">
                    <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        {% translate "Log Out" %}
                    </h2>
                    <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5">
                        Are you sure you want to logout ?
                        <button class="w-full mt-4 text-white bg-black focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Logout</button>
                        <a href="{{ request.META.HTTP_REFERER }}" class="text-red-500 hover:text-red-700 text-lg">Back</a>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}