{% extends "base_page.html" %}
{% load i18n %}

{% block title %}
    {{ title|title }} | {{ block.super }}
{% endblock %}

{% block content %}
    <section class="bg-gray-50">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8">
                <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    {{ title|title }}
                </h2>
                <div class="mt-4 space-y-4 lg:mt-5 md:space-y-5">
                    <p>{% translate 'Your Password has been change and for security reasons we have logged you out' %}</p>

                    <a 
                    href="{% url 'login' %}" 
                    class="me-2 inline-flex items-center rounded-lg bg-indigo-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300">
                    {% translate 'Login again.' %}
                    </a>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}