{% load humanize %}
<article id="reply{{ object.pk }}" class="p-6 mb-3 ml-6 lg:ml-12 text-base bg-white rounded-lg">
    <p class="text-gray-400 text-sm">Replied to {{ comment.user.username }}</p>
    <footer class="flex justify-between items-center mb-2">
        <div class="flex items-center">
            <p class="inline-flex items-center mr-3 text-sm text-gray-900 font-semibold">{{ object.user.username|capfirst }}</p>
            <p class="text-sm text-gray-600 dark:text-gray-400"><time pubdate datetime="{{ object.timestamp|naturaltime }}"
                                                                      title="{{ object.timestamp|naturaltime }}">{{ object.timestamp|naturaltime }}</time></p>
        </div>
        <button id="dropdownComment2Button" data-dropdown-toggle="dropdownComment2"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
                type="button">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
            </svg>
            <span class="sr-only">Comment settings</span>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdownComment2"
             class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow">
            <ul class="py-1 text-sm text-gray-700"
                aria-labelledby="dropdownMenuIconHorizontalButton">
                <li>
                    <a hx-get="{% url 'reply_update' reply_id=object.pk %}"
                        hx-target="#reply{{ object.pk }}"
                        hx-swap="outerHTML"
                       class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                <li>
                    <form
                        hx-post="{% url 'reply_delete' object.pk %}"
                        hx-trigger="submit"
                    >
                        {% csrf_token %}
                        <a role="button"
                           class="block py-2 px-4 hover:bg-gray-100">Remove</a>
                    </form>
                </li>
            </ul>
        </div>
    </footer>
    <p class="text-gray-500 dark:text-gray-400">{{ object.message }}</p>
</article>